@import url("https://fonts.googleapis.com/css?family=Raleway:400,500");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}

.wrapper {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  display: flex;
}
.background-body {
  width: 100%;
  height: 56vh;
  background-image: url(./assets/bg-img-01-free-img.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}   

.background-top {
  /* border: 10px solid red; */
  width: 100%;
  height: 56vh;
  z-index: 0;
  position: relative;
}

.first-row{
    position: relative;
    width: 40rem;
    height: 50%;
}
.background-logo{
    width: 70%;
    height: 100%;
    position: absolute;
    background-image: url(./assets/background-top.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    align-items: center;
    display: flex;
    z-index: 1;
}
.logo{
    width: 100%;
    height: 100%;
}
.logo img{
    margin-top: .7rem;
    width: 6rem;
    height: 6rem;
   margin-left: 10em;
}
.background-top-test{
    margin-top: 5px;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    z-index: 1;
}
.background-top-test h1{
    font-family: 'Roboto Slab', serif;
    font-size: 2.8em;
    letter-spacing: 7px;
}
.background-top-test span{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2.1em;
    letter-spacing: 3px;
}

.background-logo-profile{
    width: 15rem;
    height: 15rem;
    border: 8px solid #5F5F62;
    border-radius: 380px;
    background-color: #828282;
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: right;

   
}
.background-logo-profile img{
    width: 100%;
    height: 15em;
    z-index: 0;
    border-radius: 380px;
    position: relative;
}


.background-buttom{
    width: 100%;
    height: 44.3vh;
    background-image: url(./assets/image2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.button-first{
    width: 100%;
    height: 100%;
    display: inline-block;
}

.details{
    margin-top: 10px;
}
.details span{
    margin-left: 3em;
    color: whitesmoke;
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
}

.footer{
    width: 100%;
    height: 30%;
    margin-top: 5px;
    display: flex;
    color: whitesmoke;

}


.footer img{
    margin: 1rem;
    width: 43px;
    height: 43px;
    cursor: pointer;
}
.company{
    width: 50%;
    height: 50%;
   
    text-align: center;
    display: flex;
    justify-content: center;
}
.company a{
    color: whitesmoke;
    height: 100%;
    margin-top: 1em;
    font-size: 22px;
    letter-spacing: 5px;
    font-family: 'Poppins', sans-serif;
}

.links{
    display: flex;
    justify-content: space-around;
    margin-left: 4em;
}